# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ansible
*.retry
*.vault_pass
.ansible/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
